<div class="container-fluid">
  	<!-- <div class="col-xs-12">
  		<label class="titleFont" translate="">Your Notifications</label>
  	</div> -->
    <div class="row fontWeightBold">
     <div class="col-xs-12 paddingOverride">
      <table class="table table-striped">
        <tbody>
	        <tr ng-repeat="notification in vm.notifications" class="visible-lg hidden-xs hidden-sm visible-md fontSize14 fontCiscoSansTT">
				<td>
	              <img class="img-responsive" width="35px" height="35px"  style="border-radius:50% 50% 50% 50%" alt="" src="http://wwwin.cisco.com/dir/photo/std/{{notification.imageUser}}.jpg" width="35px" height="35px"/>
	       		</td>
	          	<td> <span class="fontSize14 fontCiscoSansTT">{{notification.Name}}</span></td>
	           	<td> <span>{{notification.day}}</span></td>
	           	<td><span>{{notification.hour}}</span></td>
	           	<td><i class="fa fa-close fa-lg pointer" ng-click="vm.goToDeleteNotification({{::notification}})"></i></td>
	        </tr>
   		</tbody>
      </table>
      <div ng-repeat="notification in vm.notifications" class="hidden-lg visible-xs visible-sm hidden-md col-xs-12 paddingOverride" ng-click="vm.openMobileView(reportee.id, reportee.username, reportee)">
           <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 paddingOverride img-circle img-responsive profilePhotoSmall" style="height:62px;width:50px;">
	      <img class="img-responsive" src="http://wwwin.cisco.com/dir/photo/std/{{notification.imageUser}}.jpg"/>
	  	</div>
           <div class="col-xs-9 col-sm-10 col-md-9 col-lg-9 padding4">
           <div class="col-xs-9 col-sm-10 paddingOverride">
               <span style="word-wrap:break-word" class="fontSize14 fontCiscoSansTT col-xs-9 paddingOverride">{{notification.Name}}</span>
            </div>
            <div class="col-xs-2 col-sm-2 pull-right">
               <span>{{notification.day}}</span>
               <i class="fa fa-close fa-lg pointer" ng-click="vm.goToDeleteNotification({{::notification}})"></i>
            </div>
           </div>
	  </div>
	  <div class="col-xs-12 paddingTop10">
		<button ng-show="vm.showLoadMore" ng-click="vm.getMoreNotifications()" class="viewAllSyncUpConversationsButton fontWeightBold marginBottom5 pull-right" translate="HOME.LOAD_MORE"></button>
	  </div>
	</div>   		
    </div>
    <div class="clearfix">&nbsp;</div>
  </div>
	