<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 paddingOverride marginTop20 marginBottom10">
        <div class="col-xs-12 paddingOverride">
          <div class="col-xs-4 backgroundColorF4C213 textAlignCenter paddingOverride divCountDimension">
            <label class="fontColorFFFFFF fontCiscoSansTTLight fontSize40 lineHeight70">{{overviewCount.yetToBeGiven}}</label>
          </div>
          <div class="col-xs-8 backgroundColorF8F8F8 divHeight70 paddingOverride">
            <label class="feedbackCategory fontSize18 fontCiscoSantsTT lineHeight70 marginLeft10" translate="{{vm.pendingTileHeader}}"></label>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 paddingOverride marginTop20 marginBottom10">
        <div class="col-xs-12 paddingOverride">
          <div class="col-xs-4 backgroundColor7CBC59 textAlignCenter paddingOverride divCountDimension">
            <label class="fontColorFFFFFF fontCiscoSansTTLight fontSize40 lineHeight70">{{overviewCount.given}}</label>
          </div>
          <div class="col-xs-8 backgroundColorF8F8F8 divHeight70 fontSize20 fontCiscoSantsTT paddingOverride">
            <label class="feedbackCategory fontSize18 fontCiscoSantsTT lineHeight70 marginLeft10" translate="{{vm.givenTileHeader}}"></label>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 paddingOverride marginTop20 marginBottom20">
        <div class="col-xs-12 paddingOverride">
          <div class="col-xs-4 backgroundColor6F7073 textAlignCenter paddingOverride divCountDimension">
            <label class="fontColorFFFFFF fontCiscoSansTTLight fontSize40 lineHeight70">{{overviewCount.declined}}</label>
          </div>
          <div class="col-xs-8 backgroundColorF8F8F8 divHeight70 fontSize20 fontCiscoSantsTT paddingOverride">
            <label class="feedbackCategory fontSize18 fontCiscoSantsTT lineHeight70 marginLeft10" translate="{{vm.declinedTileHeader}}"></label>
          </div>
          <!-- <div class="col-xs-1"> -->
            <img src="../../../client/assets/images/grey-infor-icon.png" title="The values shown here are a summary of all Provided Feedbacks since the associate has been with Cisco. This is the sample text."></img>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>