cpc-Metrics{
	padding:20px;
}
.legend{
    font-family: 'CiscoSansTT-Light';
    font-size: 16px;
    color: #646871;
}
.legendBlock{
    margin-top: 45px;
    margin-bottom: 50px;
}

#teamMetrics{
    height: 250px;
    margin: 20px;
}

#myMetrics{
    height: 250px;
    margin: 20px;
}

