<div class="row">
  <!--<div class="col-xs-12 marginTop40">
    <label class="fontSize18 fontCiscoSansTTLight fontColor39a5e3" translate="FEEDBACK.TABLE_SUMMARY"></label>
  </div>-->




  <div class="col-xs-12 marginTop10">
    <!--<div class="col-xs-12">
      <div class="col-xs-3 paddingLeftOverride pull-right">
        <div class="select_style rounded divMinWidth110">
          <select ng-model="vm.quarter" ng-options="quarter.id as quarter.display for quarter in vm.quarters"
                  ng-change="vm.changedQuarterValue(vm.quarter)">
            <option value="">Select</option>
          </select>
          <span></span>
        </div>
      </div>
    </div>-->

    <div class="col-lg-6 col-md-6 hidden-sm hidden-xs padding-side-0">
      <label class="fontSize18 fontCiscoSansTTLight fontColor39a5e3" translate="FEEDBACK.TABLE_SUMMARY"></label>
    </div>
    <div class="pull-right col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-side-0 hidden-xs">
      <div class="col-sm-8 divHeight56 padding-side-0">
        <div class="col-xs-12 padding-side-0">
          <pagination boundary-links="true" num-pages="vm.numPages" max-size="vm.maxSize"
                      items-per-page="vm.recordsPerPage" total-items="vm.totalRecord" ng-model="vm.currentPage"
                      ng-change="vm.changePage()" class="pagination-sm pull-right" previous-text="&lsaquo;"
                      next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
      </div>
      <div class="col-xs-1">
        <label>|</label>
      </div>
      <div class="col-xs-3 paddingLeftOverride">
        <div class="select_style rounded divMinWidth110">
          <select ng-model="vm.quarter" ng-options="quarter.id as quarter.display for quarter in vm.quarters"
                  ng-change="vm.changedQuarterValue(vm.quarter)">
            <!-- <option value="">Select</option> -->
          </select>
          <span></span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 visible-xs">
      <div class="col-xs-12 divHeight56">
        <div class="col-xs-12">
          <pagination boundary-links="true" num-pages="vm.numPages" max-size="vm.maxSize"
                      items-per-page="vm.recordsPerPage" total-items="vm.totalRecord" ng-model="vm.currentPage"
                      ng-change="vm.changePage()" class="pagination-sm pull-right" previous-text="&lsaquo;"
                      next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
      </div>
      <div class="col-xs-12 paddingLeftOverride pull-left">
        <div class="select_style rounded divMinWidth110 pull-left">
          <select class="pull-left" ng-model="vm.quarter" ng-options="quarter.id as quarter.display for quarter in vm.quarters"
                  ng-change="vm.changedQuarterValue(vm.quarter)">
            <option value="">Select</option>
          </select>
          <span></span>
        </div>
      </div>
    </div>






    <div class="col-xs-12 marginTop40">
      <div>
        <table class="table table-provide-feedback fontCiscoSansTT fontSize14 table-striped">
          <thead class='backgroundColorFFFFFF'>
          <tr class="fontSize14 fontCiscoSansTTBold hidden-xs hidden-sm visible-md visible-lg backgroundColorFFFFFF">

            <th class="{{vm.reverse1}} position-relative"
                ng-click='vm.reverse1=!vm.reverse1;vm.reverse2="";vm.reverse3="";vm.reverse4="";vm.reverse5=""; vm.sortColumn("firstname", vm.reverse1);$event.stopPropagation();'>
              <div class="borderRightSeparator fontSize14" translate="FEEDBACK.TABLE_TEAM_MEMBER"></div>
              <div class="heading1"></div>
            </th>
            <th class="{{vm.reverse2}} position-relative"
                ng-click='vm.reverse2=!vm.reverse2;vm.reverse1="";vm.reverse3="";vm.reverse4="";vm.reverse5=""; vm.sortColumn("yetToProvide", vm.reverse2);$event.stopPropagation();'>
              <div class="borderRightSeparator fontSize14" translate="FEEDBACK.TABLE_YET_TO_PROVIDE"></div>
              <div class="heading1"></div>
            </th>
            <th class="{{vm.reverse3}} position-relative"
                ng-click='vm.reverse3=!vm.reverse3;vm.reverse1="";vm.reverse2="";vm.reverse4="";vm.reverse5=""; vm.sortColumn("provided", vm.reverse3);$event.stopPropagation();'>
              <div class="borderRightSeparator fontSize14" translate="FEEDBACK.TABLE_PROVIDE"></div>
              <div class="heading1"></div>
            </th>
            <th class="{{vm.reverse4}} position-relative"
                ng-click='vm.reverse4=!vm.reverse4;vm.reverse1="";vm.reverse2="";vm.reverse3="";vm.reverse5=""; vm.sortColumn("declined", vm.reverse4);$event.stopPropagation();'>
              <div class="borderRightSeparator fontSize14" translate="FEEDBACK.TABLE_DECLINED"></div>
              <div class="heading1"></div>
            </th>
            <th translate="FEEDBACK.TABLE_ACTION"></th>
          </tr>
          </thead>
          <tbody>
          <tr class="hidden-xs hidden-sm visible-md visible-lg backgroundColorFFFFFFOverride">
            <td>
              <div class="form-group has-feedback marginBottomOverride">
                {{address}}
                <input typeahead-wait-ms="300" typeahead-append-to-body="true" type="text" ng-model="vm.searchTeamMember" placeholder="Search" typeahead="address for address in vm.getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select="vm.activateAfterSearch($item, $model, $label)" class="form-control fontCiscoSansTTLight fontSize14 padding13 borderRadius30">
                <i class="fa fa-search form-control-feedback lineHeight16px"></i>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td> <a href="" class="fontSize14 fontColor39a5e3 fontCiscoSansTT" ng-click="vm.clearFilter()" translate="FEEDBACK.TABLE_CLEAR_FILTER"></a> </td>
          </tr>
          <tr class="visible-xs visible-sm hidden-md hidden-lg">
            <td class="col-xs-12" colspan="5">
              <div class="row">
                <div class="col-xs-12 fullWidth">
                  <div class="col-xs-12 marginTop10">
                    <label translate="FEEDBACK.TABLE_TEAM_MEMBER"></label>
                  </div>
                  <div class="col-xs-12">
                    <div class="form-group has-feedback marginBottomOverride">
                      <input typeahead-wait-ms="300" typeahead-append-to-body="true" type="text" ng-model="vm.searchTeamMember" placeholder="Search" typeahead="address for address in vm.getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select="vm.activateAfterSearch($item, $model, $label)" class="form-control fontCiscoSansTTLight fontSize14 padding13 borderRadius30">
                      <i class="fa fa-search form-control-feedback lineHeight16px"></i>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <a class="fontColor39a5e3 fontSize14 fontCiscoSansTT pull-right marginTop10" ng-click="vm.clearFilter();" translate="FEEDBACK.TABLE_CLEAR_FILTER"></a>
                  </div>
                </div>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr ng-show="vm.isProvideFeedbacksLoading">
            <td colspan="6" class="textAlignCenter"><label><ajax-loader type="small"></ajax-loader>Loading Feedbacks Data... Please wait.</label></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr ng-repeat="data in vm.provideFeedbackTeamList.content[0].DirectTeam">
            <td class="fontColor39a5e3 fontSize14 fontCiscoSansTT hidden-xs hidden-sm visible-md visible-lg"><a class='pointer' ng-click='vm.viewAllUserFeedback(data.Username)'>{{::data.firstname}} {{::data.lastname}}</a></td>
            <td class="fontColor222222 fontSize14 fontCiscoSansTT hidden-xs hidden-sm visible-md visible-lg feedbackCountCell" ng-click="vm.loadProvidedFeedbackForTeamMember(data, 'yetToProvide', {{vm.getYetToProvideCount(data)}});">
              {{vm.getYetToProvideCount(data)}}
            </td>
            <td class="fontColor222222 fontSize14 fontCiscoSansTT hidden-xs hidden-sm visible-md visible-lg feedbackCountCell"  ng-click="vm.loadProvidedFeedbackForTeamMember(data, 'provided', {{vm.getProvidedCount(data)}});">
              {{vm.getProvidedCount(data)}}
            </td>
            <td class="fontColor222222 fontSize14 fontCiscoSansTT hidden-xs hidden-sm visible-md visible-lg feedbackCountCell" ng-click="vm.loadProvidedFeedbackForTeamMember(data, 'declined', {{vm.getDeclinedCount(data)}});">
              {{vm.getDeclinedCount(data)}}
            </td>
            <td class="fontColor39a5e3 fontSize14 fontCiscoSansTTBold hidden-xs hidden-sm visible-md visible-lg">
              <a href="" class="marginRight5 fontColor39a5e3 fontCiscoSansTT" ng-click="vm.loadProvidedFeedbackForTeamMember(data, 'viewAll', {{vm.getYetToProvideCount(data)}}+{{vm.getProvidedCount(data)}}+{{vm.getDeclinedCount(data)}});" translate="FEEDBACK.TABLE_VIEW_ALL"></a>
            </td>
          </tr>
          <tr class="visible-xs visible-sm hidden-md hidden-lg" ng-repeat="data in vm.provideFeedbackTeamList.content[0].DirectTeam">
            <td colspan="5">
              <div class="row">
                <div class="col-xs-12">
                  <div class="col-xs-12">
                    <label class="fontSize14 fontCiscoSansTT fontColor39a5e3"><a class='pointer' ng-click='vm.viewAllUserFeedback(data.Username)'>{{::data.firstname}} {{::data.lastname}}</a></label>
                  </div>
                  <div class="col-xs-12">
                    <div class="row marginTop10">
                      <div class="col-xs-4 textAlignCenter">
                        <div class="overviewFeedbackCount feedbackYetToProvide" ng-click="vm.loadProvidedFeedbackForTeamMember(data, 'yetToProvide', {{vm.getYetToProvideCount(data)}});">
                          <label class="fontCiscoSansTTLight lineHeight70">{{vm.getYetToProvideCount(data)}}</label>
                        </div>
                        <label class="fontSize14 fontCiscoSansTT fontColor222222 marginTop10" translate="FEEDBACK.TABLE_YET_TO_PROVIDE"></label>
                      </div>
                      <div class="col-xs-4 textAlignCenter">
                        <div class="overviewFeedbackCount feedbackProvided" ng-click="vm.loadProvidedFeedbackForTeamMember(data, 'provided', {{vm.getProvidedCount(data)}});">
                          <label class="fontCiscoSansTTLight lineHeight70">{{vm.getProvidedCount(data)}}</label>
                        </div>
                        <label class="fontSize14 fontCiscoSansTT fontColor222222 marginTop10" translate="FEEDBACK.TABLE_PROVIDED"></label>
                      </div>
                      <div class="col-xs-4 textAlignCenter">
                        <div class="overviewFeedbackCount feedbackDeclined" ng-click="vm.loadProvidedFeedbackForTeamMember(data, 'declined', {{vm.getDeclinedCount(data)}});">
                          <label class="fontCiscoSansTTLight lineHeight70">{{vm.getDeclinedCount(data)}}</label>
                        </div>
                        <label class="fontSize14 fontCiscoSansTT fontColor222222 marginTop10" translate="FEEDBACK.TABLE_DECLINED"></label>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 fontColor39a5e3 fontSize14 fontCiscoSansTT">
                    <a href="" class="fontColor39a5e3 fontSize14 fontCiscoSansTT pull-right marginTop10" ng-click="vm.loadProvidedFeedbackForTeamMember(data, 'viewAll', {{vm.getYetToProvideCount(data)}}+{{vm.getProvidedCount(data)}}+{{vm.getDeclinedCount(data)}});" translate="FEEDBACK.TABLE_VIEW_ALL"></a>
                  </div>
                </div>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="row" ng-show="vm.provideFeedbackTeamList.content[0].AlternateTeam.length > 0">
            <div class="col-xs-12">
              <a href="" class="marginRight5 fontColor39a5e3 fontSize14 fontCiscoSansTT pull-right" ng-click="vm.showAlternateTeam();" translate="FEEDBACK.TABLE_VIEW_ALTERNATE_TEAM" ng-show="!vm.showAlternateTeamFlag"></a>
              <a href="" class="marginRight5 fontColor39a5e3 fontSize14 fontCiscoSansTT pull-right" ng-click="vm.hideAlternateTeam();" translate="FEEDBACK.TABLE_HIDE_ALTERNATE_TEAM" ng-show="vm.showAlternateTeamFlag"></a>
            </div>
          </div>
            </td>
          </tr>
          <tr ng-repeat="data in vm.provideFeedbackTeamList.content[0].AlternateTeam" ng-show="vm.showAlternateTeamFlag">
            <td class="fontColor39a5e3 fontSize14 fontCiscoSansTT hidden-xs hidden-sm visible-md visible-lg">{{::data.firstname}} {{::data.lastname}}</td>
            <td class="fontColor222222 fontSize14 fontCiscoSansTT hidden-xs hidden-sm visible-md visible-lg feedbackCountCell" ng-click="vm.loadProvidedFeedbackForTeamMember(data, 'yetToProvide', {{vm.getYetToProvideCount(data)}});">
              {{vm.getYetToProvideCount(data)}}
            </td>
            <td class="fontColor222222 fontSize14 fontCiscoSansTT hidden-xs hidden-sm visible-md visible-lg feedbackCountCell"  ng-click="vm.loadProvidedFeedbackForTeamMember(data, 'provided', {{vm.getProvidedCount(data)}});">
              {{vm.getProvidedCount(data)}}
            </td>
            <td class="fontColor222222 fontSize14 fontCiscoSansTT hidden-xs hidden-sm visible-md visible-lg feedbackCountCell" ng-click="vm.loadProvidedFeedbackForTeamMember(data, 'declined', {{vm.getDeclinedCount(data)}});">
              {{vm.getDeclinedCount(data)}}
            </td>
            <td class="fontColor39a5e3 fontSize14 fontCiscoSansTTBold hidden-xs hidden-sm visible-md visible-lg">
              <a href="" class="marginRight5 fontColor39a5e3 fontCiscoSansTT" ng-click="vm.loadProvidedFeedbackForTeamMember(data, 'viewAll', {{vm.getYetToProvideCount(data)}}+{{vm.getProvidedCount(data)}}+{{vm.getDeclinedCount(data)}});" translate="FEEDBACK.TABLE_VIEW_ALL"></a>
            </td>
          </tr>
          <tr class="visible-xs visible-sm hidden-md hidden-lg" ng-repeat="data in vm.provideFeedbackTeamList.content[0].AlternateTeam" ng-show="vm.showAlternateTeamFlag">
            <td colspan="5">
              <div class="row">
                <div class="col-xs-12">
                  <div class="col-xs-12">
                    <label class="fontSize14 fontCiscoSansTT fontColor39a5e3">{{::data.firstname}} {{::data.lastname}}</label>
                  </div>
                  <div class="col-xs-12">
                    <div class="row marginTop10">
                      <div class="col-xs-4 textAlignCenter">
                        <div class="overviewFeedbackCount feedbackYetToProvide" ng-click="vm.loadProvidedFeedbackForTeamMember(data, 'yetToProvide', {{vm.getYetToProvideCount(data)}});">
                          <label class="fontCiscoSansTTLight lineHeight70">{{vm.getYetToProvideCount(data)}}</label>
                        </div>
                        <label class="fontSize14 fontCiscoSansTT fontColor222222 marginTop10" translate="FEEDBACK.TABLE_YET_TO_PROVIDE"></label>
                      </div>
                      <div class="col-xs-4 textAlignCenter">
                        <div class="overviewFeedbackCount feedbackProvided" ng-click="vm.loadProvidedFeedbackForTeamMember(data, 'provided', {{vm.getProvidedCount(data)}});">
                          <label class="fontCiscoSansTTLight lineHeight70">{{vm.getProvidedCount(data)}}</label>
                        </div>
                        <label class="fontSize14 fontCiscoSansTT fontColor222222 marginTop10" translate="FEEDBACK.TABLE_PROVIDED"></label>
                      </div>
                      <div class="col-xs-4 textAlignCenter">
                        <div class="overviewFeedbackCount feedbackDeclined" ng-click="vm.loadProvidedFeedbackForTeamMember(data, 'declined', {{vm.getDeclinedCount(data)}});">
                          <label class="fontCiscoSansTTLight lineHeight70">{{vm.getDeclinedCount(data)}}</label>
                        </div>
                        <label class="fontSize14 fontCiscoSansTT fontColor222222 marginTop10" translate="FEEDBACK.TABLE_DECLINED"></label>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 fontColor39a5e3 fontSize14 fontCiscoSansTT">
                    <a href="" class="fontColor39a5e3 fontSize14 fontCiscoSansTT pull-right marginTop10" ng-click="vm.loadProvidedFeedbackForTeamMember(data, 'viewAll', {{vm.getYetToProvideCount(data)}}+{{vm.getProvidedCount(data)}}+{{vm.getDeclinedCount(data)}});" translate="FEEDBACK.TABLE_VIEW_ALL"></a>
                  </div>
                </div>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <!--<button class="pull-right greenButton fontColor858587 fontSize14 fontCiscoSansTTBold" ui-sref="feedback.unrequestedNew">Give Unrequested Feedback</button>-->
    </div>
  </div>
</div>