<footer class="container-fluid">
  <div class="container">
    <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <label class="fontCiscoSansTTLight fontSize12 fontColor0081bf"><a translate="FOOTER.PRIVACY_STMT"></a> | <a translate="FOOTER.TERMS_OF_USE"></a> | <a translate="FOOTER.RATE_SITE"></a></label>
     </div>
     <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <label class="fontCiscoSansTTLight fontColor0081bf fontSize12" translate="FOOTER.LAST_UPDATED_MSG"></label>
     </div>
     <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 paddingRightOverride">
      <span class='pull-right'>
      <label class="fontCiscoSansTTLight fontColor0081bf fontSize12">&copy;</label><label class="fontCiscoSansTTLight fontColor0081bf fontSize12" translate="FOOTER.YEAR_CISCO"></label></span>
     </div>
    </div>
  </div>
</footer>
